<%- include("header") -%>

<body>
  <hr>
  <form id="fieldContainer" oninput="uuid.value=uuid()" action="/raisingTheImmobile" enctype="multipart/form-data"
    method="post" enctype="text/plain">
    <div id="titleLine" class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h5 class="titleBox">O seu imóvel.</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div id="fieldBoxLeft" class="fieldBox">
          <div class="fieldValue">
            <div class="fieldName">*Natureza do Imóvel</div>
            <select id="immobileType" name="immobileType" required>
              <option value="">Natureza</option>
              <option value="Apartamento">Apartamento</option>
              <option value="Moradia">Moradia/Vivenda</option>
              <option value="Terreno">Terreno</option>
              <option value="Quinta">Quinta</option>
              <option value="Predio">Predio</option>
              <option value="Armazém">Armazém</option>
              <option value="Loja">Loja</option>
              <option value="Escritório">Escritório</option>
              <option value="Indústria">Indústria</option>
              <option value="Garagem">Garagem</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div id="fieldBoxLeft" class="fieldBox">
          <div class="fieldValue">
            <div class="fieldName">*Tipologia</div>
            <select id="numberOfBedrooms" name="numberOfBedrooms" required>
              <option value="">Quartos</option>
              <option value="Studio">Estudio</option>
              <option value="1">1 quarto</option>
              <option value="2">2 quartos</option>
              <option value="3">3 quartos</option>
              <option value="4">4 quartos</option>
              <option value="5">5 quartos</option>
              <option value="6">6 quartos</option>
              <option value="7">7 quartos</option>
              <option value="8">8 quartos</option>
              <option value="9">9 quartos</option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12 col-sm-12">
        <div id="fieldBoxRight" class="fieldBox">
          <div class="fieldValue">
            <div class="fieldName">*Estado do Imóvel</div>
            <select id="propertyCondition" name="propertyCondition" required>
              <option value=""></option>
              <option value="new">Novo</option>
              <option value="used">Usado</option>
              <option value="underConstruction">Em construção</option>
              <option value="inProject">Em projecto</option>
              <option value="demolishAndRebuild">Demolir e reconstruir</option>
              <option value="unrecovered">Por recuperar</option>
              <option value="recovered">Recuperado</option>
              <option value="renovated">Renovado</option>
              <option value="otherStates">Outros estados</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div id="fieldBoxLeft" class="fieldBox">
          <div class="fieldValue">
            <div class="fieldName"><span>*Área útil em</span><span>&nbsp;(m</span><sup>2</sup><span>):</span></div>
            <input id="usefulArea" type="number" name="usefulArea" required>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div id="fieldBoxRight" class="fieldBox">
          <div class="fieldValue">
            <div class="fieldName"><span>Área bruta em</span><span>&nbsp;(m</span><sup>2</sup><span>):</span></div>
            <input id="grossArea" type="number" name="grossArea">
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12 col-sm-12">
        <div id="fieldBoxRight" class="fieldBox">
          <div class="fieldValue">
            <div class="fieldName">*Preço</div>
            <input id="price" type="number" name="price" required>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div id="fieldBoxLeft" class="fieldBox">
          <div class="fieldValue">
            <div class="fieldName">*Garagem</div>
            <select id="existenceOfGarage" name="existenceOfGarage" required>
              <option value="">Tem garagem?</option>
              <option value="yes">Sim</option>
              <option value="no">Não</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div id="fieldBoxLeft" class="fieldBox">
          <div class="fieldValue">
            <div class="fieldName">Tipologia da garagem</div>
            <input type="radio" id="boxGarage" name="garageType" value="boxGarage" disabled>
            <label for="boxGarage">Box</label>
            <input type="radio" id="parkingSpace" name="garageType" value="parkingSpace" disabled>
            <label for="parkingSpace">Lugar de garagem</label>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12 col-sm-12">
        <div id="fieldBoxRight" class="fieldBox">
          <div class="fieldValue">
            <div class="fieldName">Capacidade da garagem</div>
            <select id="garageCapacity" name="garageCapacity" disabled>
              <option value="">Quantas viaturas cabem?</option>
              <option value="1">1 - viatura</option>
              <option value="2">2 - viaturas</option>
              <option value="3">3 - viaturas</option>
              <option value="4">4 - viaturas</option>
              <option value="5">mais de 4 viaturas</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div id="fieldBoxLeft" class="fieldBox">
          <div class="fieldValue">
            <div class="fieldName">*wc</div>
            <select id="wc" name="wc" required>
              <option value="">selecione o numero de wc's</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">mais de 9</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div id="fieldBoxRight" class="fieldBox">
          <div class="fieldValue">
            <div class="fieldName">Certificado energético</div>
            <select id="energeticCertificate" name="energeticCertificate">
              <option value="a">A</option>
              <option value="a+">A+</option>
              <option value="a-">A-</option>
              <option value="b-">B-</option>
              <option value="b">B</option>
              <option value="c">C</option>
              <option value="d">D</option>
              <option value="e">E</option>
              <option value="f">F</option>
              <option value="g">G</option>
              <option value="h" selected="Sem classificação">Sem classificação</option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12 col-sm-12">
        <div id="fieldBoxRight" class="fieldBox">
          <div class="fieldValue">
            <div class="fieldName">varanda</div>
            <select id="balcony" name="balcony">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">mais de 4</option>
              <option value="6" selected="Sem varanda">Sem varanda</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div id="fieldBoxLeft" class="fieldBox">
          <div class="fieldValue">
            <div class="fieldName">Arrumos </div>
            <select id="externalStorage" name="externalStorage">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">mais de 4</option>
              <option value="6" selected="Sem arrumo">Sem arrumo</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div id="fieldBoxRight" class="fieldBox">
          <div class="fieldValue">
            <div class="fieldName">Dispensa</div>
            <select id="internalStorage" name="internalStorage">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">Mais de 4</option>
              <option value="6" selected="Sem dispensa">Sem dispensa</option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12 col-sm-12">
        <div id="fieldBoxRight" class="fieldBox">
          <div class="fieldValue">
            <div class="fieldName">Terraço</div>
            <select id="terrace" name="terrace">
              <option value="0" selected="Sem terraço">Sem terraço</option>
              <option value="1"><span>10</span><span>&nbsp;m</span><sup>2</sup></option>
              <option value="2"><span>20</span><span>&nbsp;m</span><sup>2</sup></option>
              <option value="3"><span>30</span><span>&nbsp;m</span><sup>2</sup></option>
              <option value="4"><span>40</span><span>&nbsp;m</span><sup>2</sup></option>
              <option value="5"><span>50</span><span>&nbsp;m</span><sup>2</sup></option>
              <option value="6"><span>60</span><span>&nbsp;m</span><sup>2</sup></option>
              <option value="7"><span>70</span><span>&nbsp;m</span><sup>2</sup></option>
              <option value="8"><span>80</span><span>&nbsp;m</span><sup>2</sup></option>
              <option value="9"><span>90</span><span>&nbsp;m</span><sup>2</sup></option>
              <option value="10"><span>100</span><span>&nbsp;m</span><sup>2</sup></option>
              <option value="11"><span>110</span><span>&nbsp;m</span><sup>2</sup></option>
              <option value="12"><span>120</span><span>&nbsp;m</span><sup>2</sup></option>
              <option value="13"><span>130</span><span>&nbsp;m</span><sup>2</sup></option>
              <option value="14"><span>140</span><span>&nbsp;m</span><sup>2</sup></option>
              <option value="15"><span>150</span><span>&nbsp;m</span><sup>2</sup></option>
              <option value="16"><span>160</span><span>&nbsp;m</span><sup>2</sup></option>
              <option value="17"><span>170</span><span>&nbsp;m</span><sup>2</sup></option>
              <option value="18"><span>180</span><span>&nbsp;m</span><sup>2</sup></option>
              <option value="19"><span>190</span><span>&nbsp;m</span><sup>2</sup></option>
              <option value="20"><span>200</span><span>&nbsp;m</span><sup>2</sup></option>
              <option value="21"><span>mais de 200</span><span>&nbsp;m</span><sup>2</sup></option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div id="fieldBoxLeft" class="fieldBox">
          <div class="fieldValue">
            <div class="fieldName">Data de construção</div>
            <input id="constructionDate" type="date" name="constructionDate">
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div id="fieldBoxRight" class="fieldBox">
          <div class="fieldValue">
            <div class="fieldName">*Tipo de transação</div>
            <select id="transactionType" name="transactionType" required>
              <option value="lease">Arrendamento</option>
              <option value="exchange">Permuta</option>
              <option value="trespass">Trespasse</option>
              <option value="leaseAndTrespass">Arrendamento/Trespasse</option>
              <option value="sale">Venda</option>
              <option value="saleAndlease">Venda/Arrendamento</option>
              <option value="saleAndleaseAndExchange">Venda/Arrendamento/Permuta</option>
              <option value="saleAndleaseAndTrespass">Venda/Arrendamento/Trespasse</option>
              <option value="saleAndExchange">Venda/Permuta</option>
              <option value="saleAndTrespass">Venda/Trespasse</option>
              <option value="otherTransactionTypes">Outras transações</option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12 col-sm-12">
        <div id="fieldBoxRight" class="fieldBox">
          <div class="fieldValue">
            <div class="fieldName">Referência: </div>
            <input type="hidden" name="referenceNumber" id="referenceNumber" value="<%= referenceNumber %>">
            <%= referenceNumber %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div id="fieldBoxCenter" class="fieldBox">
          <div class="fieldValue">
            <div class="fieldName">*Distrito</div>

            <select onchange="populateSelectCounties()" id="district" name="district" required>
              <option value="">-Selecione o distrito-</option>
              <option value="Aveiro">Aveiro</option>
              <option value="Beja">Beja</option>
              <option value="Braga">Braga</option>
              <option value="Bragança">Bragança</option>
              <option value="Castelo Branco">Castelo Branco</option>
              <option value="Coimbra">Coimbra</option>
              <option value="Ilha do Corvo">Ilha do Corvo</option>
              <option value="Évora">Évora</option>
              <option value="Ilha do Faial">Ilha do Faial</option>
              <option value="Faro">Faro</option>
              <option value="Ilha das Flores">Ilha das Flores</option>
              <option value="Ilha Graciosa">Ilha Graciosa</option>
              <option value="Guarda">Guarda</option>
              <option value="Leiria">Leiria</option>
              <option value="Lisboa">Lisboa</option>
              <option value="Ilha da Madeira">Ilha da Madeira</option>
              <option value="Ilha do Pico">Ilha do Pico</option>
              <option value="Portalegre">Portalegre</option>
              <option value="Porto">Porto</option>
              <option value="Ilha de Porto Santo">Ilha de Porto Santo</option>
              <option value="Ilha de Santa Maria">Ilha de Santa Maria</option>
              <option value="Santarém">Santarém</option>
              <option value="Ilha de São Jorge">Ilha de São Jorge</option>
              <option value="Ilha de São Miguel">Ilha de São Miguel</option>
              <option value="Setúbal">Setúbal</option>
              <option value="Ilha Terceira">Ilha Terceira</option>
              <option value="Viana do Castelo">Viana do Castelo</option>
              <option value="Vila ReaL">Vila ReaL</option>
              <option value="Viseu">Viseu</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div id="fieldBoxCenter" class="fieldBox">
          <div class="fieldValue">
            <div class="fieldName">*Concelho</div>
            <select id="county" onchange="populateParishes()" name="county" required>              
            </select>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div id="fieldBoxCenter" class="fieldBox">
          <div class="fieldValue">
            <div class="fieldName">*Freguesia</div>
            <select id="parish" name="parish" required>              
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="fieldBox">
          <div class="fieldName">Morada</div>
          <input type="text" placeholder="Escreva aqui a morada do seu imóvel" name="address">
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="fieldBox">
          <div class="fieldName">Código Postal</div>
          <input type="text" placeholder="Ex: 4100-116 PORTO" name="postalCode">
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="fieldBox">
          <div class="fieldName">*E-mail</div>
          <input type="email" placeholder="Escreva aqui o seu e-mail" name="emailOfImmobileOwner" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="fieldBox">
          <div class="fieldName">*Nome</div>
          <input type="text" placeholder="Escreva aqui o seu 1º e último nome" name="immobileOwnerName" required>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="fieldBox">
          <div class="fieldName">*Contacto móvel</div>
          <input type="text" placeholder="Escreva aqui o seu telemóvel" name="cellphoneNumber" required>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="fieldBox">
          <div class="fieldName">Horário para atendimento</div>
          <select type="text" id="openingHours" placeholder="Exemplo: 18:00-20:00" name="openingHours">
            <option value="fullTime">Todo o dia</option>
            <option value="timeInterval">09:00-12:00-Toda a manhã</option>
            <option value="timeInterval">10:00-12:00</option>
            <option value="timeInterval">11:00-13:00</option>
            <option value="timeInterval">12:00-14:00-Hora de almoço</option>
            <option value="timeInterval">14:00-18:00-Toda a tarde</option>
            <option value="timeInterval">18:00-20:00</option>
            <option value="timeInterval">20:00-22:00</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="commentBox">
          <div class="fieldName">Comentário</div>
          <textarea rows="2" col="250" onfocus="this.value=''"
            placeholder="Escreva aqui mais informações sobre o imóvel." name="comment"></textarea>
        </div>
      </div>

    </div>
    
    <div class="row">
      <div class="col-25">
        <input type="file" id="imgs" name="imgs" placeholder="Escolha as fotos do seu imóvel" multiple required>
      </div>
      <div class="col-75"></div>
      <div class="TitlError">
        <%= typeof msg != 'undefined' ? msg : '' %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="policiesAgreement">
          <input type="checkbox"
            value="Declaro que li, compreendi e aceito os Termos e Condições e a Política de Privacidade" required>
          <span style="padding-left:10px;">Declaro que li, compreendi e aceito os <a class="terms-conditions"
              href="terms-and-conditions">Termos e condições</a> e a <a class="privacy-policy"
              href="privacy-policy">Política de Privacidade</a></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="center">
        <input id="animatedBtn" type="submit" class="btn" name="" value="Submeter dados">
      </div>
    </div>
    </div>
  </form>
  <script type="text/javascript">
    //json convertion
    jsondataPrint = `<%- JSON.stringify(jsondata) -%>`; //grabbing json data when html it's loaded 
    jsondata = JSON.parse(jsondataPrint); //convert to object

    function populateSelectCounties() {

      var districSelectedByUser = document.getElementById('district').value;
      var selectCounty = document.getElementById('county');
      var selectParish = document.getElementById('parish');

      var defaultOption = document.createElement('option');
      defaultOption.text = '-Selecione o concelho-';
      
     

  /*     alert('insideFunction=' + districSelectedByUser);
      alert("jsondataPrint=" + (jsondataPrint));
      alert('jsondata' + jsondata); */

      var districtCounties = []
      var uniqueCounties = [];

      jsondata.forEach(item => {
        if (item.distrito == districSelectedByUser) {

          districtCounties.push(item.concelho)

        }
      });
      //distinct the counties
      $.each(districtCounties, function (i, el) {
        if ($.inArray(el, uniqueCounties) === -1) uniqueCounties.push(el);
      });

      //console.log(uniqueCounties);
      selectCounty.innerHTML = ''; //deleting old options
      selectParish.innerHTML = '';
      
      
      selectCounty.add(defaultOption)
      selectCounty.selectedIndex = 0;

      uniqueCounties.forEach(county => {
        var option = document.createElement('option');
        option.text = county.toString();
        
        selectCounty.add(option);
      });

    }

    function populateParishes() {

      var countySelectedbyUser = document.getElementById('county').value;       
      var selectParish = document.getElementById('parish');
      var countyParishes = [];
      var parishSplitter = [];
      var parishesArray = [];
      var uniqueParishes = [];

      var defaultOption = document.createElement('option');
      defaultOption.text = '-Selecione a freguesia-';
      

      jsondata.forEach(item => {
        if (item.concelho == countySelectedbyUser) {
         
          
          parishSplitter = `${(item.freguesia)
            .split('União das freguesias de ')
            .join('').split(' e ')
            .join(',').split(', ' )
            .join(',')}`

           

          parishesArray.push(parishSplitter.split(','))
          parishesArray.forEach(array => {
            
              array.forEach(parish => {
                countyParishes.push(parish)
              })
            
          })
        }
      });
      //distinct the counties
      $.each(countyParishes, function (i, el) {
        if ($.inArray(el, uniqueParishes) === -1) uniqueParishes.push(el);
      });

      //console.log(uniqueParishes);
      selectParish.innerHTML = ''; //deleting old options
      
      selectParish.add(defaultOption)
      selectParish.selectedIndex = 0;
      

      uniqueParishes.forEach(parish => {
        var option = document.createElement('option');
        option.text = parish.toString();
        selectParish.add(option);
      });
    }

    
    /* enabling garage options */
    document.getElementById("existenceOfGarage").onchange = function () {
      document.getElementById("boxGarage").setAttribute("disabled", "disabled");
      document.getElementById("parkingSpace").setAttribute("disabled", "disabled");
      document.getElementById("garageCapacity").setAttribute("disabled", "disabled");
      if (this.value == 'yes') {
        document.getElementById("boxGarage").removeAttribute("disabled");
        document.getElementById("parkingSpace").removeAttribute("disabled");
        document.getElementById("garageCapacity").removeAttribute("disabled");
      }
    };

 
  </script>

</body>

<%- include("footer") -%>